<!DOCTYPE html>
<html>
<head>
	<title>Image Gallery Application</title>
</head>
<body>
	<header>
		<h1>Image Gallery Application</h1>
	</header>
	<div class ="content">
		<h2>Register New User</h2>
	
		<form action="/register" method="POST">
		<p><span>Login:</span><input name="login" type="text" size="40" /></p>
		<p><span>Password:</span><input name="password" type="password" size="40"></textarea></p>
		<p><span>Date of Birth:</span><input name="date_of_birth" type="text" size="40"></p>
		<p><input type="submit" name="submit" value="Register" /></p>
		</form>
	
	</div>
	<br/>
	<footer>
		<a href="/">Home</a>
	</footer>
</body>
</html>